node_modules/
dist/
pnpm-workspace.yaml
package-lock.json
.DS_Store
.vscode/
.git/
.pnpm-workspace.yaml
*.log
*.env
*.lock
*.tmp
*.cache
*.swp
*.bak
*.orig
*.tgz
*.zip
*.tar.gz
*.rar
*.7z
*.exe
*.dll
*.so 